<a href="https://colab.research.google.com/github/Daniil01kzn/Homework/blob/main/Array-Matrix.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Array6. Даны целые числа N (> 2), A и B. Сформировать и вывести целочисленный массив размера N, первый элемент которого равен A, второй равен B, а каждый последующий элемент равен сумме всех предыдущих.
Array7º. Дан массив размера N. Вывести его элементы в обратном порядке.
Array18. Дан массив A ненулевых целых чисел размера 10. Вывести значение первого из тех его элементов AK, которые удовлетворяют неравенству AK < A10. Если таких элементов нет, то вывести 0
Array103. Дан массив размера N. Вставить элемент с нулевым значением перед минимальным и после максимального элемента массива.
Array133. Дано множество A из N точек (точки заданы своими координатами x, y). Среди всех точек этого множества, лежащих в первой или третьей четверти, найти точку, наиболее близкую к началу координат. Если таких точек нет, то вывести точку с нулевыми координатами.

In [8]:
#array6
a = int(input('a='))
b = int(input('b='))
n = int(input('n='))
x = [a,b,a+b]
for i in range (3,n):
  t = x[i-1]*2
  x.append(t)
print (x)

a=2
b=3
n=5
[2, 3, 5, 10, 20]

In [9]:
#array7
n = int(input('n='))
x = list(n)
y = -x
print (y)

n=5

TypeError: 'method' object is not iterable

In [32]:
#array18
x = [2,3,3,4,5,1,7,8,9,1]
t = 0
for i in range(0,11):
  if x[i] < x[-1]:
    t = x[i]
    break

print (t)

IndexError: list index out of range

In [41]:
#133
x = [-1,-5,-9,15,20,56]
y = [-1,8,67,90,4,7]
z = [x[1]*y[1],x[2]*y[2],x[3]*y[3],x[4]*y[4],x[5]*y[5]]
for i in range(0,5):
  if z[i] > 0:
    print(x[i])
    print(y[i])

-9
67
15
90
20
4

In [46]:
#133
x = [-1,5,-9,15,20,56]
y = [-1,8,-67,90,4,7]
t = []
for i in range(6):
  t.append (x[i]**2 + y[i]**2)

min (t)

56 7