<a href="https://colab.research.google.com/github/Daniil01kzn/Homework/blob/main/For.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

For1. Даны целые числа K и N (N > 0). Вывести N раз число K.
For40. Даны целые числа A и B (A < B). Вывести все целые числа от A до B включительно; при этом число A должно выводиться 1 раз, число A + 1 должно выводиться 2 раза и т. д.
For21. Дано целое число N (> 0). Используя один цикл, найти сумму 1 + 1/(1!) + 1/(2!) + 1/(3!) + … + 1/(N!)
For9. Даны два целых числа A и B (A < B). Найти сумму квадратов всех целых чисел от A до B включительно.

For13°. Дано целое число N (> 0). Найти значение выражения 1.1 – 1.2 + 1.3 – …

In [ ]:
#for1
k = int(input('k='))
n = int(input('n='))
for i in range (n):
  print (k)

k=6
n=5
6
6
6
6
6

In [ ]:
#for40
a = int(input('a='))
b = int(input('b='))
for i in range (b):
  for i in range (n):
    print (k)
  print (a)
  a = a+1

In [ ]:
#for21
import math
n = int(input('n='))
y = 1
for i in range (1,n+1):
  y = y + 1/math.factorial(i)
print (y)

n=5
2.7166666666666663

In [ ]:
#for9
a = int(input('a='))
b = int(input('b='))
c = 0
for i in range (a,b+1):
  c = c+i**2
  print (c)

a=2
b=5
4
13
29
54

In [ ]:
#for13
a = int(input('a='))
b = int(input('b='))
c = 0
for i in range (a,b+1):
  c = c+i**2
  print (c)