<a href="https://colab.research.google.com/github/Daniil01kzn/Homework/blob/main/If.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

If30: Дано целое число, лежащее в диапазоне 1–999. Вывести его строку описание вида «четное двузначное число», «нечетное трехзначное число» и т. д.
If23. Даны целочисленные координаты трех вершин прямоугольника, стороны которого параллельны координатным осям. Найти координаты его четвертой вершины.
If6°. Даны два числа. Вывести большее из них.
If28. Дан номер года (положительное целое число). Определить количество дней в этом году, учитывая, что обычный год насчитывает 365 дней, а високосный — 366 дней. Високосным считается год, делящийся на 4, за исключением тех годов, которые делятся на 100 и не делятся на 400 (например, годы 300, 1300 и 1900 не являются високосными, а 1200 и 2000 — являются).
If22°. Даны координаты точки, не лежащей на координатных осях OX и OY. Определить номер координатной четверти, в которой находится данная точка.

In [ ]:
#if30
x = int(input('x='))
y = x//2
if y==0 and x>99:
  print ("четное трёхзначное число")
if y==0 and x>9 and x<100:
  print ("четное двухзначное число")
if y!=0 and x>99:
  print ("нечетное трёхзначное число")
if y!=0 and x>9 and x<100:
  print ("нечетное двухзначное число")

x=23
нечетное двухзначное число

In [ ]:
#if23 ???
x1 = int(input('x1='))
y1 = int(input('y1='))
x2 = int(input('x2='))
y2 = int(input('y2='))
x3 = int(input('x3='))
y3 = int(input('y3='))
x4=0
y4=0
if x1=x2 and x1>x3:
  x4=x3

In [ ]:
#if6
#if23
x = int(input('x='))
y = int(input('y='))
if x>y:
  print (x)
else:
  print (y)

x=23
y=34
34

In [ ]:
#if28
x = int(input('x='))
y=0
if x%100==0 and x%400!=0:
  y=x
if x%4==0 and y!=x:
  print ("високосный год")
else:
  print ("невисокосный год")

x=1900
невисокосный год

In [1]:
#if22
x = int(input('x='))
y = int(input('y='))
if x>0 and y>0:
  print ("first")
if x<0 and y>0:
  print ("second")
if x<0 and y<0:
  print ("third")
if x>0 and y<0:
  print ("fourth")

x=1
y=-2
fourth